################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/bin/Debug/net6.0
/Client/obj
/Server/bin/Debug/net6.0
/Server/obj
