@using BlazorServerSignalRApp.Data
@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
<PageTitle>PlanIt</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    @Body
    
</div>
